<div class="container-list-users">
  <p><i class="fa fa-beer"></i> GESTION DES PUISSANCE MOTEUR</p>
  <div class="user-form">
    <form [formGroup]="enginePowerForm">
      <div class="header">
        <span>Enregistrer une puissance moteur</span>
        <span>Ajouter ou modifier une puissance moteur</span>
      </div>
      <div class="row">
        <div class="col-md- col-12">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Puissance du moteur</mat-label>
            <input
              matInput
              placeholder="Puissance du moteur "
              formControlName="power"
              type="text"
              oninput="this.value = this.value.toUpperCase()"
            />
          </mat-form-field>
        </div>

        <div class="container-btn col-12">
          <button
            (click)="onCreate()"
            pRipple
            pButton
            class="p-button p-button-outlined p-button-secondary"
          >
            Réînitialiser
          </button>
          <button
            pRipple
            pButton
            class="p-button p-button-success"
            (click)="onSave(enginePowerForm.value)"
            [disabled]="!enginePowerForm.valid"
          >
            {{ saveButtonName }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="list-user">
    <div class="header">
      <span>Liste des puissances moteur</span>
      <span>Consulter la liste des puissances moteur</span>
    </div>
    <p-table
      [value]="enginePowers"
      responsiveLayout="scroll"
      [loading]="loading"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Puissance moteur</th>
          <th class="text-center">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-enginePower let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td class="">{{ enginePower.power }}</td>
          <td class="text-center">
            <button
              pRipple
              pButton
              class="p-button p-button-rounded p-button-outlined p-button-success"
              icon="fa fa-pencil"
              (click)="onUpdate(enginePower)"
            ></button>
            <button
              pRipple
              pButton
              class="p-button p-button-rounded p-button-outlined p-button-danger"
              icon="fa fa-trash"
              (click)="onDelete(enginePower)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Au total il y a {{ totalRecords }} enregistrements.
        </div>
      </ng-template>
    </p-table>
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]"
      (onPageChange)="paginate($event)"
    ></p-paginator>
  </div>
</div>
