<div class="container-list-users">
  <p><i class="fa fa-bar-chart"></i> TABLEAU DE BORD</p>
  <div class="list-user">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="col-12">
          <div class="item-user-dashboard" id="bg-all-car">
            <i class="fa fa-car"></i>
            <div class="">
              <span class="header">Total voiture</span>
              <span class="content">{{ cars.length }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="col-12">
          <div class="item-user-dashboard" id="bg-selled-car">
            <i class="fa fa-car"></i>
            <div class="">
              <span class="header">VOITURE VENDUES</span>
              <span class="content">{{ carSelled }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="col-12">
          <div class="item-user-dashboard" id="bg-not-sell-car">
            <i class="fa fa-car"></i>
            <div class="">
              <span class="header">Voitures non vendue</span>
              <span class="content">{{ carNotSelled }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
